node_modules
dist
dist-ssr
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# mobile/desktop packaging output (added in later milestones)
/android
/ios
/release

.vercel
